:root {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 3px 0px;
}

p {
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 1fr;  
}

/* Sidebar */

#sidebar {
    box-sizing: border-box;
    grid-row: 1 / -1;

    padding: 16px;
    color:white;
    background-color: #1992d4;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 36px 0;
}

#logo-container {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Page-Head */

#page-head {
    background-color: white;

    display: grid;
    grid-template: min-content min-content / 3fr 1fr;

    padding: 18px 24px;
}

#search-container {
    padding: 24px;

    display: flex;
    justify-content: start;
    align-items: center;

    --search-box-size: 36px;
}

.search-icon {
    width: var(--search-box-size);
    height: var(--search-box-size);

    flex: 0 0 auto;

    margin: 0 12px;
}

input.search {
    background-color: #e2e8f0;
    border-radius: 35px;
    border: none;
    height: var(--search-box-size);

    flex: 0 1 70%;
}

input.search:focus:focus-visible {
    outline: none;
    box-shadow: 0 0 3px 1px rgba(130, 129, 129, 0.775)
}

#notif-container {
    display: flex;
    gap: 24px;
    justify-content: start;
    align-items: center;
}

.icon.notification {
    width: 28px;
    height: 28px;

    flex: 0 0 auto;
}

#notif-container .profile-picture {
    width: 48px;
    height: 48px;

    flex: 0 0 auto;
}

#notif-container p {
    margin-left: 12px;
    font-weight: bold;
    font-size: 0.825rem;

    flex: 1 1 auto;
}

#profile-container {
    --profile-picture-size: 72px;

    display: grid;
    grid-template: 1fr 1fr / var(--profile-picture-size) 1fr;
    column-gap: 16px;
    align-items: center;
}

#profile-container .profile-picture {
    grid-row: 1 / -1;

    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
}

#profile-container p {
    font-weight: bold;
}
#profile-container p:first-of-type {
    font-size: 0.8rem;
}


/* Tiles */

#tiles-container {
    --subtile-shadow: 3px 3px 6px 1px #8d8383b8;

    background-color: #e2e8f0;

    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    padding: 24px;
}

.side-tile-container.tile-container {
    box-shadow: var(--subtile-shadow);
}

#project-tiles .tile {
    box-shadow:var(--subtile-shadow);
}

#projects-container {
    grid-row: 1 / -1;

    grid-template-rows: min-content auto;
    padding: 24px;
    
}

.caption {
    font-weight: 500;
    font-size: 1.2rem;

    margin: 6px 0;
}

#project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 24px;
}

.project-tile {
    box-sizing: border-box;
    border-radius: 8px;
    border-left: 8px solid #f0b42a;

    padding: 36px 12px 0;

    display: flex;
    flex-flow: column;
    align-items: end;
}

.project-desc {
    flex: 1 1 90%;
}

.tile-options-container {
    align-self: center;
    justify-self: flex-end;
}

.tile-options {
    width: 26px;
    height: 26px;

    padding: 18px;
}

#announcements-container {
    box-sizing: border-box;
    padding: 24px;
}

#announcements-tiles {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 36px;
    background-color: white;
}

.announcement-tile {
    box-sizing: border-box;
    padding: 6px;
}

.announcement-tile:not(:first-of-type, :last-of-type) {
    border-top: 2px solid #d2d2d2;
    border-bottom: 2px solid #d2d2d2;
}

.announcement-tile > p {
    font-size: 0.7rem;
    margin-bottom: 14px;
    color: #636363;
}

#trending-container {
    box-sizing: border-box;
    padding: 24px;
}

#trending-tiles {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 12px;
    background-color: white; 
}

.trending-tile {
    display: flex;
    flex-flow: row;
}

.trending-tile {
    padding: 12px 6px;
}

.trending-tile > div {
    flex: 1 0 auto;
}

.trending-tile h6 {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}

.trending-tile p {
    font-size: 0.675rem;
    color: #636363;
}

.trending-tile > .profile-picture {
    width: 48px;
    height: 48px;

    flex: 0 0 auto;
    margin: 0 6px;
}

.profile-picture {
    border-radius: 100%;
}

.tile {
    background-color: white;
}